
.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 4px 2px 5px rgba(0,0,0,0.19);
    padding:0.6rem 1rem;
     position:sticky;
     top:0;
    
    &__right{
        display: flex;
        justify-content: space-evenly;  
        align-items: center;
          
        .fa-bell{
            color:lighten($color: red, $amount: 10)
        }

         .fa-envelope{
             color:blue;
         }
        .userimage img{
            height:30px;
            width:30px;
            border-radius: 50%;
        }
       .icon{
           margin-right: 20px;
       }
     
       .userimage{
           margin-right: 20px;
       }


    }


    &__left{
         .hamburger{
             cursor:pointer;
             position: absolute;
             transition: all 0.5s ease-in;
             z-index: 100;
             top:20px;

             &.open{
                 left:270px;
                
             }
                 .fa{
                    transition: all 0.3s ease-in;
                    
                 }

             .fa-remove{
                 color:#fff;
                 font-size: 20px;
               
             }
         }
       nav{
           background-color:black;
           position: fixed;
           top:0;
           left:0;       
           width:50vh;
           height:100vh;
           padding:0.6rem 1.2rem;
            transition: all 0.5s ease-in;
            transform: translate3d(-100% ,0,0);
          

            &.open{
                transform:translate3d(0,0,0);
            }
            .userinfo{

                display: flex;
                // justify-content: center;
                align-items: center;
                  margin:25px auto;


                img{
                    height: 60px;
                    width:60px;
                    border-radius: 50%;
                    margin-right: 10px;

                }

                p{
                    font-family: Poppins;
                     font-weight: bold;
                     color:#fff;
                }
            }


             ul li{
                 padding: 0.8rem;
                 margin-bottom: 10px;
                 width:100%;
                 transition:  0.3s ease-in;
                 a{
                     color:#fff;
                     font-family: Ambit;
                     font-weight: 200;


                     i{
                         margin-right: 10px;
                     }
                 }
             }

             ul li.active{
                background-color: rgba(37, 175, 37, 0.5);
                border-radius: 8px;

             }

             ul li:hover{
                background-color: rgba(0,180,0,0.5);
                border-radius: 8px;
                cursor:pointer;
             }


       }
    }
}